h1,h2,h3{
    font-family: garamond;
    font-weight: 700;
}


/* ==================================== */

.slider h1{
    font-family: garamond;
    font-weight: 700;
    color: #fff;
}
.slider p{
    color: #fff;
}

.slider-input{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-input input{
    padding: 15px 25px;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 18px;
    border: none;
}
.input-bg{
   background-color: #B68C5A;
   color: aliceblue;
   font-weight: 700;
}

.service-box{
    padding: 50px;
    border: 0.1px solid #eeeded;
}
.service-box:hover{
    background-color: #F3F3F3;
}
.service-box p{
    text-align: justify;
}
.service-box a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    width: 30px;
    height: 30px;
    background-color: #B68C5A;
    border-radius: 50%;

}

@media screen and (max-width:450px){
    .slider-input{
        flex-direction: column;
    }
    .slider-input input{
        width: 100%;
        margin-top: 10px;
    }
    
}